In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
%pip install openpyxl

Requirement already satisfied: openpyxl in /opt/conda/lib/python3.8/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /opt/conda/lib/python3.8/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Read in the Excel file for 2017-18 Pharr SJ and replace any * or - values with NaN.
ELP17 = pd.read_excel('ElPaso-17.xlsx').replace(['*','-'],'NaN')

# Change all numerical columns to float (the *s were 'objects' and math with NaN values can be handled if they're floats).
for column in ELP17:
    if column != 'Test' and column != 'Level' and column != 'District':
        ELP17[column] = ELP17[column].astype(float)

# Rename some of the columns to make them easier to read.
ELP17 = ELP17.rename(columns={'African\nAmerican':'Afr Am','American\nIndian':'Am Ind','Pacific\nIslander':'Pac Isl',
                                'Two or\nMore\nRaces':'2+ Race','Special\nEd':'Spec Ed','Econ\nDisadv':'Econ Disad'})

# Split the dataframe into 'labels' and 'numbers', convert the numbers to represent only the percentage in each category.
# Originally, the percentages in the spreadsheets represent the students that hit that level *or above*.
work = ELP17.drop(ELP17.columns[[0,1,2,3,4]], axis=1)
info = ELP17.drop(ELP17.columns[[5,6,7,8,9,10,11,12,13,14,15]], axis=1)
for row in range(24):
    if ((row-2)%8) == 0:
        work.loc[row] = work.loc[row] - work.loc[row+2]
    elif ((row+4)%8) == 0:
        work.loc[row] = work.loc[row] - work.loc[row+2]

# Rejoin the info with the numbers to make one dataframe, sorted by year.
# Once everyone's done, we'll concatenate these into one dataframe, sorted by district, then year, then grade level.
ELP17 = info.join(work).sort_values(by=['Year','Grade'],ascending=True).reset_index(drop=True)
ELP17

,District,Year,Grade,Test,Level,State,All,Afr Am,Hispanic,White,Am Ind,Asian,Pac Isl,2+ Race,Spec Ed,Econ Disad
0,El Paso,2017.0,3.0,Reading,Not Approaching Grade Level,27.0,26.0,21.0,29.0,13.0,NaN,4.0,NaN,20.0,55.0,32.0
1,El Paso,2017.0,3.0,Reading,Approaches Grade Level,73.0,74.0,79.0,71.0,87.0,NaN,96.0,NaN,80.0,45.0,68.0
2,El Paso,2017.0,3.0,Reading,Meets Grade Level,22.0,23.0,23.0,19.0,49.0,NaN,83.0,NaN,30.0,-22.0,12.0
3,El Paso,2017.0,3.0,Reading,Masters Grade Level,29.0,28.0,30.0,25.0,45.0,NaN,64.0,NaN,32.0,9.0,21.0
4,El Paso,2017.0,3.0,Mathematics,Not Approaching Grade Level,-26.0,-25.0,-22.0,-22.0,-50.0,NaN,-87.0,NaN,-30.0,18.0,-15.0
5,El Paso,2017.0,3.0,Mathematics,Approaches Grade Level,77.0,78.0,75.0,77.0,87.0,NaN,100.0,NaN,79.0,54.0,74.0
6,El Paso,2017.0,3.0,Mathematics,Meets Grade Level,49.0,47.0,47.0,45.0,63.0,NaN,87.0,NaN,51.0,28.0,41.0
7,El Paso,2017.0,3.0,Mathematics,Masters Grade Level,26.0,23.0,17.0,21.0,34.0,NaN,60.0,NaN,29.0,10.0,18.0
8,El Paso,2017.0,6.0,Reading,Not Approaching Grade Level,31.0,35.0,37.0,37.0,13.0,NaN,23.0,NaN,25.0,71.0,44.0
9,El Paso,2017.0,6.0,Reading,Approaches Grade Level,69.0,65.0,63.0,63.0,87.0,NaN,77.0,NaN,75.0,29.0,56.0
10,El Paso,2017.0,6.0,Reading,Meets Grade Level,13.0,4.0,5.0,-1.0,36.0,NaN,44.0,NaN,22.0,-45.0,-11.0
11,El Paso,2017.0,6.0,Reading,Masters Grade Level,18.0,14.0,13.0,12.0,27.0,NaN,41.0,NaN,30.0,5.0,9.0
12,El Paso,2017.0,6.0,Mathematics,Not Approaching Grade Level,-19.0,-5.0,1.0,-1.0,-41.0,NaN,-55.0,NaN,-25.0,43.0,10.0
13,El Paso,2017.0,6.0,Mathematics,Approaches Grade Level,76.0,71.0,72.0,69.0,86.0,NaN,89.0,NaN,77.0,39.0,65.0
14,El Paso,2017.0,6.0,Mathematics,Meets Grade Level,43.0,34.0,27.0,32.0,55.0,NaN,66.0,NaN,48.0,18.0,25.0
15,El Paso,2017.0,6.0,Mathematics,Masters Grade Level,18.0,13.0,9.0,11.0,25.0,NaN,45.0,NaN,27.0,6.0,7.0
16,El Paso,2017.0,9.0,English I,Not Approaching Grade Level,36.0,45.0,49.0,47.0,24.0,NaN,18.0,NaN,35.0,83.0,54.0
17,El Paso,2017.0,9.0,English I,Approaches Grade Level,64.0,55.0,51.0,53.0,76.0,NaN,82.0,NaN,65.0,17.0,46.0
18,El Paso,2017.0,9.0,English I,Meets Grade Level,26.0,16.0,7.0,13.0,50.0,NaN,70.0,NaN,34.0,-48.0,3.0
19,El Paso,2017.0,9.0,Algebra I,Masters Grade Level,8.0,5.0,3.0,4.0,15.0,NaN,29.0,NaN,11.0,1.0,2.0
20,El Paso,2017.0,9.0,Algebra I,Not Approaching Grade Level,-31.0,-28.0,-12.0,-25.0,-52.0,NaN,-76.0,-50.0,-39.0,44.0,-17.0
21,El Paso,2017.0,9.0,Algebra I,Approaches Grade Level,83.0,82.0,75.0,81.0,89.0,NaN,96.0,86.0,83.0,45.0,78.0
22,El Paso,2017.0,9.0,Algebra I,Meets Grade Level,48.0,46.0,37.0,44.0,63.0,NaN,80.0,64.0,56.0,11.0,39.0
23,El Paso,2017.0,9.0,Algebra I,Masters Grade Level,26.0,21.0,13.0,20.0,38.0,NaN,59.0,43.0,37.0,4.0,16.0