In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
%pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10
Note: you may need to restart the kernel to use updated packages.

In [5]:
# Read in the Excel file for 2017-18 Pharr SJ and replace any * or - values with NaN.
NE17 = pd.read_excel('Northeast-17.xlsx').replace(['*','-'],'NaN')

# Change all numerical columns to float (the *s were 'objects' and math with NaN values can be handled if they're floats).
for column in NE17:
    if column != 'Test' and column != 'Level' and column != 'District':
        NE17[column] = NE17[column].astype(float)

# Rename some of the columns to make them easier to read.
NE17 = NE17.rename(columns={'African\nAmerican':'Afr Am','American\nIndian':'Am Ind','Pacific\nIslander':'Pac Isl',
                                'Two or\nMore\nRaces':'2+ Race','Special\nEd':'Spec Ed','Econ\nDisadv':'Econ Disad'})

# Split the dataframe into 'labels' and 'numbers', convert the numbers to represent only the percentage in each category.
# Originally, the percentages in the spreadsheets represent the students that hit that level *or above*.
work = NE17.drop(NE17.columns[[0,1,2,3,4]], axis=1)
info = NE17.drop(NE17.columns[[5,6,7,8,9,10,11,12,13,14,15]], axis=1)
for row in range(24):
    if ((row-2)%8) == 0:
        work.loc[row] = work.loc[row] - work.loc[row+2]
    elif ((row-3)%8) == 0:
        work.loc[row] = work.loc[row] - work.loc[row+2]
    elif ((row+4)%8) == 0:
        work.loc[row] = work.loc[row] - work.loc[row+2]
    elif ((row+3)%8) == 0:
        work.loc[row] = work.loc[row] - work.loc[row+2]

# Rejoin the info with the numbers to make one dataframe, sorted by year.
# Once everyone's done, we'll concatenate these into one dataframe, sorted by district, then year, then grade level.
NE17 = info.join(work).sort_values(by=['Year','Grade'],ascending=True).reset_index(drop=True)
NE17

,District,Year,Grade,Test,Level,State,All,Afr Am,Hispanic,White,Am Ind,Asian,Pac Isl,2+ Race,Spec Ed,Econ Disad
0,Northeast,2017.0,3.0,Reading,Not Approaching Grade Level,27.0,30.0,38.0,29.0,13.0,NaN,14.0,NaN,21.0,56.0,36.0
1,Northeast,2017.0,3.0,Reading,Approaches Grade Level,73.0,70.0,62.0,71.0,87.0,NaN,86.0,NaN,79.0,44.0,64.0
2,Northeast,2017.0,3.0,Reading,Meets Grade Level,22.0,16.0,-2.0,18.0,52.0,NaN,59.0,NaN,33.0,-23.0,2.0
3,Northeast,2017.0,3.0,Reading,Masters Grade Level,-48.0,-48.0,-51.0,-48.0,-41.0,NaN,-37.0,NaN,-46.0,-39.0,-49.0
4,Northeast,2017.0,3.0,Mathematics,Not Approaching Grade Level,-26.0,-19.0,2.0,-19.0,-54.0,NaN,-68.0,NaN,-28.0,22.0,-2.0
5,Northeast,2017.0,3.0,Mathematics,Approaches Grade Level,51.0,52.0,51.0,53.0,47.0,NaN,32.0,NaN,50.0,38.0,53.0
6,Northeast,2017.0,3.0,Mathematics,Meets Grade Level,49.0,45.0,33.0,45.0,66.0,NaN,77.0,NaN,48.0,30.0,35.0
7,Northeast,2017.0,3.0,Mathematics,Masters Grade Level,26.0,22.0,14.0,21.0,41.0,NaN,59.0,NaN,30.0,10.0,14.0
8,Northeast,2017.0,6.0,Reading,Not Approaching Grade Level,31.0,33.0,43.0,32.0,15.0,NaN,15.0,NaN,14.0,66.0,42.0
9,Northeast,2017.0,6.0,Reading,Approaches Grade Level,69.0,67.0,57.0,68.0,85.0,NaN,85.0,NaN,86.0,34.0,58.0
10,Northeast,2017.0,6.0,Reading,Meets Grade Level,13.0,9.0,-18.0,10.0,50.0,NaN,54.0,NaN,31.0,-35.0,-9.0
11,Northeast,2017.0,6.0,Reading,Masters Grade Level,-58.0,-57.0,-48.0,-57.0,-56.0,NaN,-55.0,NaN,-55.0,-44.0,-53.0
12,Northeast,2017.0,6.0,Mathematics,Not Approaching Grade Level,-19.0,-12.0,20.0,-12.0,-52.0,NaN,-66.0,NaN,-38.0,32.0,8.0
13,Northeast,2017.0,6.0,Mathematics,Approaches Grade Level,58.0,57.0,49.0,58.0,57.0,NaN,48.0,NaN,60.0,42.0,55.0
14,Northeast,2017.0,6.0,Mathematics,Meets Grade Level,43.0,39.0,23.0,39.0,63.0,NaN,75.0,NaN,55.0,20.0,28.0
15,Northeast,2017.0,6.0,Mathematics,Masters Grade Level,18.0,16.0,8.0,15.0,32.0,NaN,43.0,NaN,23.0,6.0,9.0
16,Northeast,2017.0,9.0,English I,Not Approaching Grade Level,36.0,37.0,41.0,30.0,15.0,NaN,10.0,NaN,18.0,72.0,39.0
17,Northeast,2017.0,9.0,English I,Approaches Grade Level,64.0,63.0,59.0,70.0,85.0,NaN,90.0,NaN,82.0,28.0,61.0
18,Northeast,2017.0,9.0,English I,Meets Grade Level,26.0,23.0,13.0,35.0,65.0,NaN,78.0,NaN,55.0,-37.0,20.0
19,Northeast,2017.0,9.0,Algebra I,Masters Grade Level,-75.0,-73.0,-72.0,-77.0,-69.0,NaN,-61.0,NaN,-67.0,-46.0,-77.0
20,Northeast,2017.0,9.0,Algebra I,Not Approaching Grade Level,-31.0,-24.0,-14.0,-34.0,-62.0,NaN,-83.0,NaN,-52.0,34.0,-22.0
21,Northeast,2017.0,9.0,Algebra I,Approaches Grade Level,57.0,59.0,63.0,62.0,48.0,NaN,30.0,NaN,47.0,42.0,64.0
22,Northeast,2017.0,9.0,Algebra I,Meets Grade Level,48.0,44.0,37.0,49.0,70.0,NaN,85.0,NaN,63.0,18.0,41.0
23,Northeast,2017.0,9.0,Algebra I,Masters Grade Level,26.0,21.0,14.0,23.0,44.0,NaN,68.0,NaN,42.0,6.0,17.0